body {
	background-image: linear-gradient(to buttom right, purple, red);
	background-attachment: fixed;
}

@font-face {
	font-family: "Comic Sans MS";
	src: url("../Fonts/ComicSansMS3.ttf");
}

h1{
	font-family: "Comic Sans MS";
}